$purple: #ED5992;

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid $purple;
}

.ant-menu-horizontal > .ant-menu-item-selected a, .ant-menu-horizontal > .ant-menu-item a:hover {
  color: $purple;
}

.ant-pagination-item, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  background-color: #F0F2F5;
  border: 1px solid #F0F2F5;
}

.ant-pagination-item:focus-visible, .ant-pagination-item:hover {
  border-color: $purple;
  transition: all 0.3s;

  a {
    color: $purple;
  }
}

.ant-pagination-item-active {
  background-color: $purple;

  & a {
    color: white;
  }
}

.ant-pagination-item-active:hover {
  background-color: $purple !important;

  & a {
    color: white !important;
  }
}

.ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
  color: $purple;
  border-color: $purple;
}

.ant-pagination-jump-next a div span,.ant-pagination-jump-prev a div span {
  color: $purple !important;
}